* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    color: rgb(117, 115, 115);
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgb(227, 227, 227), rgb(148, 147, 147));
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    height: 100vh;
    margin: 40px 40px 0;
}


.title {
    font-size: 45px;
    margin-bottom: 20px;
}

.subtitle {
    height: 55px;
    font-size: 30px;
    padding: 9px 0 0 10px;
    background-color: slategray;
    color: white;
}

.section {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.article{
    display: flex;
    flex-direction: column;
    border: solid 1px darkslategray;
    border-radius: 10px;
}

.favorites-article {
    width: 20%;
}

.list-article {
    width: 80%;
}

.favorites {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    /* padding: 10px 0; */
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.input, .btn {
    font-size: 18px;
    padding: 0 15px;
    margin-bottom: 30px;
}

.drink-name {
    margin-bottom: 5px;
    overflow-wrap: break-word;
}

.img {
    height: 150px;
    margin-bottom: 20px;
}

.toast {
    position: relative;
    top: 0px;
    right: 0px;
    width: 20%;
    border-radius: 40px;
    display: block;
    margin-bottom: 30px;   
}

@media all and (max-width: 350px) {
    .toast {
        display:none;
    }
}

.form {
    position: relative;
}

.favorite {
    border: solid 1px darkslategray;

}

.li {
    border: solid 1px darkslategray;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 10px;
}


.logo {
width: 113px;
}

