* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    color: rgb(117, 115, 115);
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgb(227, 227, 227), rgb(148, 147, 147));
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    height: 100vh;
    margin: 40px 40px 0;
}


.title {
    font-size: 45px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 30px;
    margin-bottom: 15px;

}

.section {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.article{
    display: flex;
    flex-direction: column;
}

.favorites-article {
width: 25%;
border: solid 3px brown;
}

.list-article {
width: 75%;
border: solid 3px brown;

}

.input, .btn {
    font-size: 18px;
    padding: 0 15px;
    margin-bottom: 30px;
}

.drink-name {
    margin-bottom: 5px;
}

.img {
    height: 150px;
    margin-bottom: 20px;
}

.toast {
    position: relative;
    top: 0px;
    right: 0px;
    width: 20%;
    border-radius: 40px;
    display: block;
    margin-bottom: 30px;   
}

@media all and (max-width: 350px) {
    .toast {
        display:none;
    }
}

.form {
    position: relative;
}

.favorite {
    border: solid 2px rgb(96, 38, 27);

}

.li {
    border: solid 2px rgb(96, 38, 27);
}

.footer {
   position: relative;
    width: 100%;
    padding: 0 30px 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px rgba(96, 38, 27, 0.667);
    margin: 0;
    background-color: #fff;
}

.logo {
width: 113px;
}

