* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    color: rgb(117, 115, 115);
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgb(227, 227, 227), rgb(148, 147, 147));
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    min-height: calc(100vh - 50px);
    margin: 40px 40px 0;
}


.title {
    font-size: 45px;
    margin-bottom: 20px;
}

.subtitle {
    height: 50px;
    font-size: 30px;
    padding: 7px 0 0 10px;
    background-color: slategray;
    border-radius: 10px 10px 0 0;
    color: white;
}

.section {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.article{
    display: flex;
    flex-direction: column;
    border: solid 1px slategray;
    border-radius: 10px;
}

.list-article {
    width: 80%;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.li {
    border: solid 3px slategray;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding-top: 10px;
    border-radius: 20px;
}

.drink-name {
    margin-bottom: 5px;
    overflow-wrap: break-word;
    text-align: center;
}

.img {
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: solid 4px slategray;

}

.favorites-article {
    min-width: 250px;
    width: 20%;
}

.favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input, .btn {
    font-size: 18px;
    padding: 0 15px;
    margin-bottom: 30px;
}

.toast {
    position: relative;
    top: 0px;
    right: 0px;
    width: 20%;
    border-radius: 30px;
    display: block;
    margin-bottom: 30px;   
}

.form {
    position: relative;
}

.favorite {
    border: solid 1px darkslategray;

}

.logo {
width: 113px;
}

.footer {
    /* position:fixed;
    bottom: 0; */
    height: 50px;
    width: 100%;
    background-color: whitesmoke;
    border-top: solid 1px rgba(96, 38, 27, 0.667);
    padding: 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}